<html>
<head>
<title>	Add Category</title>
</head>
<body>
	{% for message in form.category_name.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      
      {% for message in form.parent_category_name.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      {% for message in form.description.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      {% for message in form.submit.errors %}
         <div>{{ message }}</div>
      {% endfor %}
<form method="POST">
	{{ form.hidden_tag() }}
	{{form.category_name.label}}
	{{form.category_name}}
	<br>
	{{form.parent_category_name.label}}
	{{form.parent_category_name}}
	<br>
	{{form.description.label}}
	{{form.description}}
	<br>
	{{form.submit}}
	{{ form.csrf_token }}
</form>
</body>
</html>
