<!DOCTYPE html>
<html>
<head>
	<title>Sign Up Form</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel='stylesheet' href='/static/css/style.css'>
	<style type="text/css">
		body{
			background-image: url(/static/images/th.png);
		}
	</style>
	<script type="text/javascript">
	    function Validate() {
	        var password = document.getElementById("txtPassword").value;
	        var confirmPassword = document.getElementById("txtConfirmPassword").value;
	        if (password != confirmPassword) {
	            alert("Passwords do not match.");
	            return false;
	        }
	        return true;
	    }
	</script>
</head>
<body>
	{% if error %}
		<strong>ERRROORRRR:</strong> {{error}}
	{% endif %}
	<div class="sign-up-form">
		<img src="/static/images/user.png">
		<h1>Sign Up Now</h1>
		<form method="POST">
			<input type="text" name="company_name" placeholder="Your Company Name" class='input-box' required>
			<input type="email" class='input-box' placeholder="Your Email" name="email" required>
			<span>
			<textarea type='text' name='address' class='input-box' placeholder="Your Address" required></textarea>
			<span>
			<input type="text" class='input-box spl2' placeholder="Your City" name="city" required>
			<span>
			<input type="text" class='input-box spl2' placeholder="Your State" name="state" required>
			<span>
			<input type="text" class='input-box spl2' placeholder="Pincode" name="pincode" required>
			<span>
			<input type="text" class='input-box' placeholder="Your Country" name="country" required>
			<span>
			<input type="text" class='input-box spl2' placeholder="Code" name="code" required>
			<span>
			<input type="text" class='input-box spl' placeholder="Your Mobile Number" name="mobile" required>
			<span>
			<input type="password" class='input-box' placeholder="Your Password" name="password" id="txtPassword" required>
			<input type="password" class='input-box' placeholder="Confirm Password" name="confirm" id="txtConfirmPassword" required>
			<p><span><input type="checkbox" required></span> I agree to the terms of service</p>
			<button type="submit" class='signUp-btn' onsubmit="return Validate()">SignUp</button>
			<hr>
			<p>Already Registered? Login <a href="/business">here</a></p>
		</form>
	</div>
</body>
</html>
